<section id="projects">
	<div class="container">
		<h2><strong><u>PROJECTS</u></strong></h2>
	  <div class="panel panel-default">
		<div class="panel-body">
			<h5>
				<i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/priyanshu-arya/NetflixRecommender-EDA">Netflix Recommender, IMDB, Goodreads Analysis</a></strong>
				- A Content-Based Recommender System in Python on Netflix DataSet and Exploratory Data Analysis.
			</h5>
			<h5>
				<i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/priyanshu-arya/Hangman-Game">Hangman-Game</a></strong>
				- A simple Hangaman game on Python.
			</h5>
			<h5>
				<i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/priyanshu-arya/Huffman-Coding">Huffman_coding</a></strong>
				- Implementation of simple Huffman algorithm in Python.  
			</h5>
			<h5>
				<i class="fab fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/priyanshu-arya/Password_generator">Password_generator</a></strong>
				- A password Generator Program to generate strong password.  
			</h5>
	
	
		</div>
	  </div>
	</div>
	</section>
	
