<div class="social">
	<h4>
    {% if site.github %}
	  <a href="https://github.com/priyanshu-arya"><i class="fa fa-github" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:priyanshuarya2482000@gmail.com"><i class="fa fa-envelope" style="font-size:36px"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="http://twitter.com/Priyans80637948"><i class="fa fa-twitter" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/priyanshu-arya-934804169/"><i class="fa fa-linkedin" style="font-size:36px"></i></a>
    {% endif %}
    {% if site.kaggle %}
        <a href="https://www.kaggle.com/codoes/"><i class="fab fa-kaggle" style="font-size:36px"></i></a>
    {%endif%}
    {% if site.stackoverflow %}
	  <a href="https://stackoverflow.com/users/12221148/priyanshu-arya"><i class="fa fa-stack-overflow" style="font-size:36px"></i></a>
    {% endif %}
	</h4>
</div>
